<!DOCTYPE html>
<!-- saved from url=(0027)http://photo.sweetvvck.com/ -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript">
function onFileSelected() {
  filename = document.getElementById("input-file").value;
  if (filename == null || filename == "") {
    document.getElementById("btn-post").setAttribute("class", "inactive btn");
    document.getElementById("btn-post").disabled = true;
  } else {
    document.getElementById("btn-post").setAttribute("class", "active btn");
    document.getElementById("btn-post").disabled = false;
  }
}

function togglePhotoPost(expanded) {
  onFileSelected();
  if (expanded) {
    document.getElementById("btn-choose-image").style.display="none";
    document.getElementById("upload-form").style.display="block";
  } else {
    document.getElementById("btn-choose-image").style.display="inline-block";
    document.getElementById("upload-form").style.display="none";
  }
}

function onCommentChanged(id) {
  comment = document.getElementById("comment-input-" + id).value;
  if (comment == null || comment.trim() == "") {
    document.getElementById("comment-submit-" + id).setAttribute("class", "inactive btn");
    document.getElementById("comment-submit-" + id).disabled = true;
  } else {
    document.getElementById("comment-submit-" + id).setAttribute("class", "active btn");
    document.getElementById("comment-submit-" + id).disabled = false;
  }
}

function toggleCommentPost(id, expanded) {
  onCommentChanged(id);
  if (expanded) {
    document.getElementById("comment-input-" + id).setAttribute("class", "post-comment expanded");
    document.getElementById("comment-submit-" + id).style.display="inline-block";
    document.getElementById("comment-cancel-" + id).style.display="inline-block";
  } else {
    document.getElementById("comment-input-" + id).value = ""
    document.getElementById("comment-input-" + id).setAttribute("class", "post-comment collapsed");
    document.getElementById("comment-submit-" + id).style.display="none";
    document.getElementById("comment-cancel-" + id).style.display="none";
  }
}
</script>
<title>Photofeed</title>
<link rel="stylesheet" type="text/css" href="./res/photofeed.css">
<style id="clearly_highlighting_css" type="text/css">/* selection */ html.clearly_highlighting_enabled ::-moz-selection { background: rgba(246, 238, 150, 0.99); } html.clearly_highlighting_enabled ::selection { background: rgba(246, 238, 150, 0.99); } /* cursor */ html.clearly_highlighting_enabled {    /* cursor and hot-spot position -- requires a default cursor, after the URL one */    cursor: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--cursor.png") 14 16, text; } /* highlight tag */ em.clearly_highlight_element {    font-style: inherit !important; font-weight: inherit !important;    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow.png");    background-repeat: repeat-x; background-position: top left; background-size: 100% 100%; } /* the delete-buttons are positioned relative to this */ em.clearly_highlight_element.clearly_highlight_first { position: relative; } /* delete buttons */ em.clearly_highlight_element a.clearly_highlight_delete_element {    display: none; cursor: pointer;    padding: 0; margin: 0; line-height: 0;    position: absolute; width: 34px; height: 34px; left: -17px; top: -17px;    background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite.png"); background-repeat: no-repeat; background-position: 0px 0px; } em.clearly_highlight_element a.clearly_highlight_delete_element:hover { background-position: -34px 0px; } /* retina */ @media (min--moz-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {    em.clearly_highlight_element { background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--yellow@2x.png"); }    em.clearly_highlight_element a.clearly_highlight_delete_element { background-image: url("chrome-extension://pioclpoplcdbaefihamjohnefbikjilc/clearly/images/highlight--delete-sprite@2x.png"); background-size: 68px 34px; } } </style><style type="text/css"></style><style>[touch-action="none"]{ -ms-touch-action: none; touch-action: none; }[touch-action="pan-x"]{ -ms-touch-action: pan-x; touch-action: pan-x; }[touch-action="pan-y"]{ -ms-touch-action: pan-y; touch-action: pan-y; }[touch-action="scroll"],[touch-action="pan-x pan-y"],[touch-action="pan-y pan-x"]{ -ms-touch-action: pan-x pan-y; touch-action: pan-x pan-y; }</style></head>

<body cz-shortcut-listen="true">
  <div class="wrap">

    <div class="header group">
      <h1>
        <img src="./res/photofeed.png" alt="Photofeed">
      </h1>
      <div class="glow"></div>
    </div>

    <div id="upload-wrap">
      <div id="upload">
        <div class="account group">
          <div id="account-thumb">
            <img src="./res/dp.png" alt="Unknown User Icon">
          </div>
          <!-- /#account-thumb -->
          <div id="account-name">
            <h2>chengke</h2>
            <p>chengke@sweetvvck.com
              | <a href="http://photo.sweetvvck.com/_ah/logout?continue=https://www.google.com/accounts/Logout%3Fcontinue%3Dhttps://appengine.google.com/_ah/logout%253Fcontinue%253Dhttp://photo.sweetvvck.com/photofeed.jsp%26service%3Dah">Sign
                out</a>
            </p>
          </div>
          <!-- /#account-name -->
        </div>
        <!-- /.account -->
        <a id="btn-choose-image" class="active btn" onclick="togglePhotoPost(true)" style="display: inline-block;">Choose an image</a>
        <div id="upload-form" style="display: none;">
          <form action="/" method="post" enctype="multipart/form-data">
            <input id="input-file" class="inactive file btn" type="file" name="photo" onchange="onFileSelected()">
            <textarea name="title" placeholder="Write a description"></textarea>
            <input id="btn-post" class="inactive btn" type="submit" value="Post" disabled="">
            <a class="cancel" onclick="togglePhotoPost(false)">Cancel</a>
          </form>
        </div>
      </div>
      <!-- /#upload -->
    </div>
    <!-- /#upload-wrap -->

    <!-- KK -->
    
    <div class="feed first ">
      <div class="post group">
        <div class="image-wrap">
          <img class="photo-image" src="./res/download" alt="Photo Image">
        </div>
        <div class="owner group">
          <img src="./res/dp.png" alt="">
          <div class="desc">
            <h3>chengke</h3>
            <p>妹妹在干什么
            </p><p>
            </p><p class="timestamp">10:38AM Apr 27, 2014 UTC</p>
          </div>
          <!-- /.desc -->
        </div>
        <!-- /.usr -->
      </div>
      <!-- /.post -->
      
      <div class="post group">
        <div class="usr last">
          <img src="./res/dp.png" alt="">
          <div class="comment">
            <h3>chengke</h3>
            <form action="http://photo.sweetvvck.com/post" method="post">
              <input type="hidden" name="user" value="109403870602066786043">
              <input type="hidden" name="id" value="5707702298738688">
              <textarea id="comment-input-0" class="post-comment collapsed" name="comment" placeholder="Post a comment" onclick="toggleCommentPost(0, true)" onchange="onCommentChanged(0)" onkeyup="onCommentChanged(0)" onpaste="onCommentChanged(0)"></textarea>
              <input id="comment-submit-0" class="inactive btn" style="display:none" type="submit" name="send" value="Post comment">
              <a id="comment-cancel-0" class="cancel" style="display:none" onclick="toggleCommentPost(0, false)">Cancel</a>
            </form>
          </div>
          <!-- /.comment -->
        </div>
        <!-- /.usr -->
      </div>
      <!-- /.post -->
    </div>
    <!-- /.feed -->
    
    <div class="feed  last">
      <div class="post group">
        <div class="image-wrap">
          <img class="photo-image" src="./res/download(1)" alt="Photo Image">
        </div>
        <div class="owner group">
          <img src="./res/dp.png" alt="">
          <div class="desc">
            <h3>chengke</h3>
            <p>
            </p><p>
            </p><p class="timestamp">3:43AM Apr 27, 2014 UTC</p>
          </div>
          <!-- /.desc -->
        </div>
        <!-- /.usr -->
      </div>
      <!-- /.post -->
      
      <div class="post group">
        <div class="usr">
          <img src="./res/xm.png" alt="">
          <div class="comment">
            <h3>sweetvvck</h3>
            <p>haha
            </p><p>
            </p><p class="timestamp">3:44AM Apr 27, 2014 UTC</p>
          </div>
          <!-- /.comment -->
        </div>
        <!-- /.usr -->
      </div>
      <!-- /.post -->

      
      <div class="post group">
        <div class="usr last">
          <img src="./res/dp.png" alt="">
          <div class="comment">
            <h3>chengke</h3>
            <form action="http://photo.sweetvvck.com/post" method="post">
              <input type="hidden" name="user" value="109403870602066786043">
              <input type="hidden" name="id" value="5629499534213120">
              <textarea id="comment-input-1" class="post-comment collapsed" name="comment" placeholder="Post a comment" onclick="toggleCommentPost(1, true)" onchange="onCommentChanged(1)" onkeyup="onCommentChanged(1)" onpaste="onCommentChanged(1)"></textarea>
              <input id="comment-submit-1" class="inactive btn" style="display: none;" type="submit" name="send" value="Post comment" disabled="">
              <a id="comment-cancel-1" class="cancel" style="display: none;" onclick="toggleCommentPost(1, false)">Cancel</a>
            </form>
          </div>
          <!-- /.comment -->
        </div>
        <!-- /.usr -->
      </div>
      <!-- /.post -->
    </div>
    <!-- /.feed -->
    
  </div>
  <!-- /.wrap -->


</body></html>